.container {
  padding: 0;
  text-align: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Left {
  flex: 1;
  background-color: crimson;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Right {
  position: absolute;
  height: 100vh;
  width: 50vw;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Wrapper {
  display: flex;
  transition: all 1s ease;
}

.Arrow {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999999
}

.Button {
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width:380px) {
  .container {
    overflow-y: scroll;
  }

  .Left {
    display: none;
  }

  .Right {
    position: static;
    height: auto;
    width: 100%;
  }

  .Arrow {
    display: none;
  }

  .Button {
    max-width: 100px
  }
}